//Colors
$blackColor: rgb(24, 24, 24);
$btWhite: rgb(255, 255, 255);
$btBlue: rgb(51, 132, 208);
$btLightBlue: rgb(153, 187, 255);

//Fonts
$titleFont: Arial, Helvetica, sans-serif;
$bodyFont: "Times New Roman", Times, serif;
