@import "../variables/Variables.scss";

.grid-container {
  display: grid;
  max-width: 35%;
  min-width: 35%;
}

.grid-item {
  background-color: $btBlue;
  color: $btWhite;
}

.grid-body {
  justify-content: center;
  align-items: center;
}

.grid-header {
  
}

.greater {
  color: blue;
}
