@import "../variables/Variables.scss";

.grid-container {
  display: grid;
  background-color: $btBlue;
  color: $btWhite;
  width: 100%;
}

.grid-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.greater {
  color: blue;
}

.avatar-image {
  height: 200px;
  width: 200px;
  float: right;
  padding-right: 50px;
}

.grid-body {
  min-height: 100%;
}
