.tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tabs-list {
  display: flex;
  .tab-head {
    padding: 1.5rem;
    border: 1px solid white;
  }
}

.active {
  background: rgb(153, 187, 255);
  color: white;
}

